{% include "sam/header.html" %}
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
              <nav style="--bs-breadcrumb-divider: '||';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'staff' %}">Staff</a></li>
      <li class="breadcrumb-item"><a href="{% url 'staff_view' employee.employee_id %}">Staff View</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Employee</li>
  </ol>
</nav>
            <h4 class="display-4" style="font-size: 1rem;">Edit Employee </h4>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-secondary btn-sm" value=""> Update</button>
            </form>
        </div>
    </div>
</div>




</body>
{% include "sam/footer.html" %}
